# Environment & Credentials
.env

# Python & Virtual environment
.venv/
__pycache__/
*.pyc

# Database & Cache
*.sqlite
.pytest_cache/
*.pkl
# ...кроме бинарной фикстуры, нужной для воспроизводимости тестов
!tests/fixture_15m.pkl

# PDF sources
*.pdf
